* {
    font-family: sans-serif;
    background-color: rgb(70, 70, 70);
    text-align: center;
}
input,
button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
input {
    display: block;
    margin-bottom: 20px;
    margin-left: 41%;
    margin-bottom: 5%;
}
button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
    background: rgb(71, 227, 255);
    color: white;
}